<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="victoriahessdorfer.com.hessdorf_reflex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SinglePlayerMode"
            android:label="@string/title_activity_single_player_mode"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="victoriahessdorfer.com.hessdorf_reflex.MainMenu" />
        </activity>
        <activity
            android:name=".MultiPlayerMode"
            android:label="@string/title_activity_multi_player_mode" >
        </activity>
        <activity
            android:name=".TwoPlayer"
            android:label="@string/title_activity_two_player" >
        </activity>
        <activity
            android:name=".ThreePlayer"
            android:label="@string/title_activity_three_player" >
        </activity>
        <activity
            android:name=".FourPlayer"
            android:label="@string/title_activity_four_player" >
        </activity>
        <activity
            android:name=".StatsMode"
            android:label="@string/title_activity_stats_mode" >
        </activity>
    </application>

</manifest>
